---
import type { Experience } from '@data/experience';

const { item } = Astro.props as { item: Experience };
---
<div class="py-4">
  <p class="text-sm text-gray-900">
    <span class="font-semibold">{item.role}</span>
    <br />
    <span class="text-gray-500">{item.organization}</span>
  </p>
  <ul class="mt-1 list-disc pl-5 text-sm text-gray-500">
    {item.bullets.map((bullet) => (
      <li>{bullet}</li>
    ))}
  </ul>
</div>
